.status_btn_group {
    text-align: right;
}

.btn_add {
    height: 24px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.comment {
    display:none;
    width:100%;
}

.c_cont {
    width:100%;
}

.example-chip-list {
    width: 100%;
}

.stars_rating {
    width:35%
}